body{
  background: #fffff8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

input, button {
  &:hover {
    box-shadow: 2px 4px 5px #444;
  }
}

#app{
  padding-top: 150px;
  display: grid;
  grid-template-rows: 75px 100px auto;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:
          "hdr hdr hdr"
          "depart arrive submit-btn"
          "trip trip trip";
  background-image: url("../assets/background.jpg");
  height: 150vh;
  width: 100%;
  color: white;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.tripCard{
  grid-area: trip;
  padding: 10px;
}

.depart {
  grid-area: depart;
}

.arrive {
  grid-area: arrive;
}

.submit-btn {
  grid-area: submit-btn;
  align-self: end;
}

#submit {
  height: 62px;
  width: 100%;
}

.headline {
  grid-area: hdr;
  justify-self: center;
  font-size: 50px;
  margin-bottom: 20px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
  display:block;
  font-size: 27px;
}

input{
  display:block;
  height: 60px;
  width: 100%;
  background: darkorange;
  color: white;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

button{
  background: darkorange;
  color: white;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

h1{
  font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
  color: white;
  font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #app {
    grid-template-columns: 230px 230px 230px;
  }

  .feel > label {
    font-size: 23px;
    margin: 3px 0 4px 0;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #app {
    grid-template-rows: 65px 110px 110px 65px auto;
    grid-template-columns: 460px;
    grid-template-areas:
            "hdr"
            "depart"
            "arrive"
            "submit-btn"
            "trip";
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #app {
    grid-template-rows: 65px 110px 110px 65px auto;
    grid-template-columns: 300px;
    grid-template-areas:
            "hdr"
            "depart"
            "arrive"
            "submit-btn"
            "trip";
  }

  .headline {
    font-size: 35px;
  }
}
