.tripCard {
  display: grid;
  grid-template-rows: 75px 100px 100px;
  grid-template-columns: 500px 200px 200px;
  grid-template-areas:
          "img depart destination"
          "img weather weather"
          "img save cancel";
}

.tripImage {
  grid-area: img;
  width: 300px;
  height: 200px;
}

.tripDate {
  grid-area: depart;
}

.tripDestination {
  grid-area: destination;
}

.weatherHolder {
  grid-area: weather;
}

button {
  .cancel {
    grid-area: cancel;
    width: 75px!important;
    height: 40px!important;
  }

  .save {
    grid-area: save;
    width: 75px!important;
    height: 40px!important;
  }
}
