.tripCardBackground {
  grid-area: tripDetails;
  display: grid;
  grid-template-rows: 30px 30px 215px 40px;
  grid-template-columns: 500px 200px 200px;
  grid-template-areas:
          "img departTitle destTitle"
          "img depart destination"
          "img weather weather"
          "img cancel cancel";
  padding: 10px;
  background: rgba(0 , 0, 0, 0.4);
}

.tripImage {
  grid-area: img;
  margin: 5px;
  width: 480px;
  height: 300px;
  justify-self: center;
  align-self: center;
}

.tripDateTitle {
  grid-area: departTitle;
  text-decoration: underline;
}

.tripDestinationTitle {
  grid-area: destTitle;
  text-decoration: underline;
}

.tripDate {
  grid-area: depart;
}

.tripDestination {
  grid-area: destination;
}

.weatherHolder {
  grid-area: weather;
}

.weatherList {
  margin: 0;
  padding: 20px;
}

.weatherIsList {
  font-size: 15px;
  justify-content: flex-start;
}

button {
  grid-area: cancel;
  justify-self: center;
  align-self: center;
  width: 150px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .tripCardBackground {
    grid-template-columns: 410px 150px 150px;
  }

  .tripImage {
    width: 400px;
    height: 280px;
  }

  .tripCardBackground {
    font-size: 18px;
  }

  .cancel {
    width: 110px;
    font-size: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .tripCardBackground {
    grid-template-columns: 230px 230px;
    grid-template-rows: 25px 25px auto 300px 30px;
    grid-template-areas:
        "departTitle destTitle"
        "depart destination"
        "weather weather"
        "img img"
        "cancel cancel";
  }

  .tripImage {
    width: 400px;
    height: 280px;
    align-self: start;
    justify-self: start;
  }

  .tripCardBackground {
    font-size: 18px;
  }

  .weatherMessage {
    width: 420px;
  }

  .cancel {
    width: 110px;
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .tripCardBackground {
    grid-template-columns: 130px 130px;
    grid-template-rows: 30px 30px auto 190px 30px;
    grid-template-areas:
            "destTitle destination"
            "departTitle depart"
            "weather weather"
            "img img"
            "cancel cancel";
  }

  .tripImage {
    width: 250px;
    height: 175px;
    align-self: start;
    justify-self: start;
  }

  .tripCardBackground {
    font-size: 18px;
  }

  .cancel {
    width: 110px;
    font-size: 20px;
  }

  ul {
    padding: 10px;
  }

  .weatherIsList {
    font-size: 14px;
  }
}
